    .aboutPage {

        article{
        background-color: #2C2A2C;
        margin: 2px;
        padding: 1px;
        border-radius: 2px; 
        text-align: center;
        color: #f6eee0;
        display: flex;
        flex-direction: column;
        
       
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid #BE3E35;
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    margin: 2vh;
                    align-self: center;

                }
                p {
                    font-size: 30px;
                    font-weight: 500;
                    }
            }
            

        i{
            font-size: 30px;
            cursor: pointer;
            margin: 20px;
            transition: 1.3s ease-in-out;
            &:hover{
            transform: rotate(720deg);
            }
    
        }

        .wave {
            animation: waveAnimation 2s infinite;
            transform-origin: 70% 70%;
            font-size: 25px;
        }
        h2{
            font-size: 35px;
            padding: 20px;
            font-weight: 700;
            color: #BE3E35;
            border-radius: 10px;
            }
            h3{
                font-size: 30px;
                padding: 20px;
                font-weight: 500;
                color: #BE3E35;
                border-radius: 10px;
                }
        p {
        font-size: 30px;
        font-weight: 500;
        padding: 2vh 2vh;
        }
        
    }
    .portfolioList {
        .fa-react{
        color: #074973;
        }
        .fa-js-square {
        color: #F7D200;
        }
        
        
    }
    
    }



    @media screen and (max-width: 1024px){
        .aboutPage {
            article{
                div {
                    flex-direction: column;
                    img {
                        width: 50%;
                        height: 50%;
                    }
                }
            }
        }
    }
