
    .videoContainer {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #2C2A2C, $alpha: 1);
        .lottieContainer{
            width: 100vw;
            height: 100vh;
            z-index: 999;
            background-color: rgba($color: #2C2A2C, $alpha: 0.97);
        }

    }
    
    .videoBG {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .heroTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        .heroText {
            position: absolute;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            bottom: 0.5%;            

            
            div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;                
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 5px;
                    margin: 1vw;
                    padding: 5vh;
                    .heroTextButtons {
                        text-decoration: none;
                        font-weight: 600;
                        transition: .5s;
                        width: 4rem;
                        z-index: 3;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                div:nth-child(1){
                    
                background-color: rgba($color: #BE3E35, $alpha: 0.2);
                    .heroTextButtons{
                        width: 2.8rem;
                        margin: 2rem;
                        color:  rgba($color: #BE3E35, $alpha: 0.6);
                        &:hover {
                            color:  rgba($color: #BE3E35, $alpha: 1);
                        }
                        
                    }
                    
                }
                div:nth-child(2){
                    background-color: rgba($color: #939DA6, $alpha: 0.2);
       
                        .heroTextButtons{
                            color:  rgba($color: #939DA6, $alpha: 0.6);
                            &:hover {
                                color:  rgba($color: #939DA6, $alpha: 1);
                            }
                        }
                    }
                    div:nth-child(3){
                        background-color: rgba($color: #5C73F2, $alpha: 0.2);
               
                            .heroTextButtons{
                                color:  rgba($color: #5C73F2, $alpha: 0.6);
                                &:hover {
                                    color:  rgba($color: #5C73F2, $alpha: 1);
                                }
                            }
                        }
                    
                button {
                    font-size: 3vw;
                    font-weight: 600;
                    margin: 1vw;
                    padding: 1.5vw;
                    margin-bottom: 0.1vw;
                    background-color: white;
                    border: 1px solid white;
                    color: #2C2A2C;
                    border-radius: 10px;
                    transition: .5s;
                    a {
                        text-decoration: none;
                    }                    
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.05);
                        background-color:#2C2A2C ;
                        color: #f6eee0;
                    }
                    span{
                        font-weight: 700;
                        color: #939DA6;
                    }
                }
                
                button:nth-child(2) {
                    span:nth-child(1){
                        font-weight: 700;
                        color: #5C73F2;
                    }
                }
            }
            p {
                font-size: 5.5vw;
                font-weight: 600;
                background-color: rgba($color: white, $alpha: 0.3);
                color: rgba($color: white, $alpha: 0.97);
                border-radius: 5px;
                margin-bottom: 20vh;
                width: 80%;
                opacity: 0.7;
                transition: 1s;
                
            }
        }
    }
    
    .javascript{
        animation: animate 10s infinite;
        opacity: 0.3;
        width: 5%;
        color: #F2C335;
    }
    .typescript {
        animation: animate 30s infinite;
        opacity: 0.3;
        width: 3%;
        color: #5C73F2;
    }