    .container{
            position: relative;
            background-color: #B5AFA5;
            /* background-image: url("Photos/noise.gif"); */
            z-index: 0;
            background-size: cover;
            overflow: hidden;
            
    }
    
    .videoContainer {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .videoBG {
        z-index: -1;
        position: absolute;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .fa-battery-full {
        font-size: 2vw;
        /* animation: shake 0.5s; */
    }
    
    .fas .tooltiptext {
        font-size: 1vw;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        visibility: hidden;
        width: 100px;
        background-color: transparent;
        color: #fff;
        text-align: left;
        // border-radius: 6px;
        padding-left: 10px;
        position: absolute;
        left: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.1s;
    }
    
    .fas:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    
    .fa-battery-quarter {
        color: #F2E56F;
        opacity: 0.5;
    }
    
    .fa-battery-full {
        opacity: 1;
    }
    
    .heroTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .heroText {
            position: absolute;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            bottom: 30%;
            width: 80%;
            padding: 1vw;
            margin: 1vw;
            
            div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
    
                button {
                    font-size: 3vw;
                    font-weight: 600;
                    margin: 1vw;
                    padding: 1.5vw;
                    margin-bottom: 0.1vw;
                    background-color: white;
                    border: 1px solid white;
                    color: #2C2A2C;
                    border-radius: 10px;
                    transition: .5s;
                    a {
                        text-decoration: none;
                    }
                    .heroTextButtons {
                        color: #2C2A2C;
                        text-decoration: none;
                        font-weight: 600;
                        transition: .5s;

                        &:hover {
                            color: #f6eee0;

                
                        }
                        
                        // &:hover {
                        //     transform: scale(1.05);
                        //     background-color:#2C2A2C ;
                        //     color: #f6eee0;
                
                        // }
                    }
        
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.05);
                        background-color:#2C2A2C ;
                        color: #f6eee0;



                    }
                    span{
                        font-weight: 700;
                        color: #939DA6;
                    }
                }
                
                button:nth-child(2) {
                    span:nth-child(1){
                        font-weight: 700;
                        color: #5C73F2;
                    }
                }
            }
            p {
                font-size: 5.5vw;
                font-weight: 600;
                // padding: 2vw 0vw 1vw 0vw;
                border-radius: 20px;
                opacity: 1;
                transition: 1s;
                
            }
        }
    }
   
    .typing {
        z-index: 1;
        animation: typing 10s steps(100, end), blink-caret 0.75s step-end infinite;
    }
    
    .blinking {
        animation: blinkingText 2.2s infinite;
    }
    
    .downArrow {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.05);
        color: white;
        height: 10vh;
        top: 90vh;
        position: absolute;
        width: 100%;
        border: none;
        outline: none;
        transition: 0.3s;
        opacity: 0.5;
    }
    
    .downArrow:hover {
        background: rgba(255, 255, 255, 0.3);
    }
    
    .fa-angle-down {
        height: 0;
        z-index: -1;
        font-size: 3vw;
        background-color: transparent;
        animation: float2 1s infinite;
        transition: 0.3s ease-in-out;
    }
    
    .fa-angle-down:hover {
        font-size: 2.8vw;
    }
    
    .javascript{
        animation: animate 10s infinite;

        opacity: 0.3;
        width: 5%;
        color: #F2C335;
    }
    .typescript {
        animation: animate 30s infinite;
        opacity: 0.3;
        width: 3%;
        color: #5C73F2;
    }

    @keyframes animate{
    0% {color: #5C73F2 }
    50% {color: #F2C335}
    100% {color: #5C73F2 }
    }
    