
    .videoContainer {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #2C2A2C, $alpha: 1);
        section{
            height: 100vh;
            width: 10vw;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
    }
    .videoBG {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .heroTextContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end ;
        justify-content: space-between;
        // height: 100vh;
        width: 100vw;
        .buttons {
            position: absolute;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: center;
            width: 20vw;
            // height: 85vh;

            bottom: 0.5%;            

            
            div {
                // width: 100%;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-around;        
                // align-items: flex-end;        
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 5px;
                    border-radius: 5px;
                    margin: 10px;
                    margin-left: 100px;
                    width: auto;
                    cursor: pointer;
                    transition: .5s;
                    background-color: rgba($color: #2C2A2C, $alpha: 0.3);
                    &:hover {
                        transform: scale(1.2);
                    }
                    .heroTextButtons {
                        text-decoration: none;
                        font-weight: 600;
                        width: 35px;
                        z-index: 3;
                                            padding: 15px;

                        

                    }
                }
                div:nth-child(1){
                    background-color: rgba($color: #802A24, $alpha: 0.2);
                    &:hover {
                        background-color: rgba($color: #802A24, $alpha: 1);
                    }
                    .heroTextButtons{
                    width: 35px;                       
                    color:  rgba($color: #BE3E35, $alpha: 1); 
                    }
                }
                div:nth-child(2){
                    background-color: rgba($color: #5B6166, $alpha: 0.2);
                    &:hover {
                        background-color: rgba($color: #5B6166, $alpha: 1);
                    }
                        .heroTextButtons{
                            color:  rgba($color: #939DA6, $alpha: 1);
                        }
                    }
                    div:nth-child(3){
                        background-color: rgba($color: #2C3673, $alpha: 0.2);
                        &:hover {
                            background-color: rgba($color: #2C3673, $alpha: 1);
                        }
                            .heroTextButtons{
                                color:  rgba($color: #5C73F2, $alpha: 1);
                            }
                        }
            }
            p {
                font-size: 5.5vw;
                font-weight: 600;
                background-color: rgba($color: white, $alpha: 0.3);
                color: rgba($color: white, $alpha: 0.97);
                border-radius: 5px;
                margin-bottom: 20vh;
                width: 80%;
                opacity: 0.7;
                transition: 1s;
                
            }
        }
    }
    
    .javascript{
        animation: animate 10s infinite;
        opacity: 0.3;
        width: 5%;
        color: #F2C335;
    }
    .typescript {
        animation: animate 30s infinite;
        opacity: 0.3;
        width: 3%;
        color: #5C73F2;
    }