.container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #2C2A2C;
    color: #f6eee0;
    overflow: hidden;

    div {

        font-size: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        color: #BE3E35;

        img {
            width: 40%;
            image-rendering: optimizeSpeed;
        }


        form {
            padding: 1vh;
            display: flex;
            flex-direction: column;
            width: 70%;
            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #f6eee0;
                font-size: 3vw;
                padding: 1vh;
                color: #f6eee0;

                &::placeholder {
                    color: #f6eee0;
                }
            }
            .message {
                margin: 0.5vw;
                font-size: 3vw;
                height: 30vh;
                border: 0.5px solid #f6eee0;
                border-radius: 10px;
            }
        }

    }

}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2vh;
    border-top: 1px solid #f6eee0;
    background-color: #2C2A2C;
    color: #f6eee0;
    .sideMenuIcon {
        cursor: pointer;
        color: #f6eee0;
        width: 50px;
        transition: 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    
}
@media screen and (max-width: 1024px){
    .container {
        div {
            font-size: 25px;

            img {
                width: 60%;
                image-rendering: optimizeSpeed;
            }
        }
    
    }
}
@media screen and (max-width: 768px){
    .container {
        div {
            img {
                width: 70%;
                image-rendering: optimizeSpeed;
            }
        }
    
    }
}