
    nav {
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0;
        background-color: transparent;
        border: 2px;
        font-size: 25px;
        .headerIcon {
            padding: 15px;
            border-radius: 5px;
            margin: 17px;
            transition: .4s ease;
            font-size: 35px;
            background-color: rgba($color: #2C2A2C, $alpha: 0.3);
            cursor: pointer;
            &:hover{
                background-color: rgba($color: #F29429, $alpha: 0.8);
                color: #F2C335;
                transform: scale(1.2);
            }
        }
        .homeContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    
    .desktopNav {
        display: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
    }

    
    // a:hover {
    //     color: white;
    // }
    
    a:hover:after {
        width: 100%;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100vw;
    }
    nav ul div {
        display: flex;
    }
    nav ul li {
        cursor: pointer;
    }
    .menuIconContainer {
        display: none;
    }
    .burgerMenuList {
        display: none;
    }

    @media only screen and (max-width: 768px) {
        nav ul li {
            cursor: pointer;
        }
        .desktopNav {
            div:nth-child(2) {
                display: none;
                li {
                    margin: 0px;

                    padding: 2vw;

                }

            }
        }
        .menuIconContainer {
            display: contents;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            // padding: 10px 20px 10px 20px;

            .menuIcon {
                cursor: pointer;
                top: 0;
                text-decoration: none;
                display: block;
                font-size: 40px;
                color: #f6eee0;
                // padding: 2vw;
            }
        }

        .burgerMenuList {
            display: contents;
            position: fixed;
            overflow-x: hidden;
            text-decoration: none;
            transition: 0.3s ease;
            z-index: 99;
            // width: 25vw;
            overflow: scroll;
            padding-right: 10vw;
            min-height: 50vh;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid #f6eee0;
            border-bottom: 1px solid #f6eee0;
            border-top: 1px solid #f6eee0;
            justify-content: space-around;
            color: white;
            background-color: rgba($color: #2C2A2C, $alpha: 1) ;
            .headerIcon {
                padding: 10px;
                border-radius: 5px;
                margin: 17px;
                transition: .4s ease;
                background-color: rgba($color: white, $alpha: 0.3);
                font-size: 35px;

                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #F29429, $alpha: 0.8);
                    color: #F2C335;
                    transform: scale(1.2);
                }
    
            }
            p {
                display: contents;
                font-size: 18px;
                color: white;
            }
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center; 
                text-align: center;
                justify-content: space-around;
                height: 80%;
            }
            section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                text-decoration: none;
                .sideMenuIcon {
                    color: #f6eee0;
                    width: 35px;
                    cursor: pointer;
                    transition: 0.4s;
                    padding: 5px;
                    border-radius: 5px;
                    margin: 17px;
                    background-color: rgba($color: white, $alpha: 0.3);
                    cursor: pointer;
                    &:hover{
                        background-color: rgba($color: #5C73F2, $alpha: 0.4);
                        color: #5C73F2;
                        transform: scale(1.2);
                    }

                }
                .gitMenuIcon {
                    color: #f6eee0;
                    width: 35px;
                    cursor: pointer;
                    transition: 0.4s;
                    padding: 5px;
                    border-radius: 5px;
                    margin: 17px;
                    background-color: rgba($color: white, $alpha: 0.3);
                    cursor: pointer;
                    &:hover{
                        background-color: rgba($color: #939DA6, $alpha: 0.4);
                        color: #939DA6;
                        transform: scale(1.2);
                    }

                }
            }
            li {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                
            }
            a {
                cursor: pointer;
                align-items: center;
                text-align: center;
                justify-content: space-evenly;
                display: flex;
                flex-direction: row;
                text-decoration: none;
            }

            .menuIcon {
                cursor: pointer;
                top: 0;
                text-decoration: none;
                display: block;
                font-size: 40px;
                color: #f6eee0;
                margin: 10px 20px 10px 20px;

            }
            
        }

    }
    @keyframes animate{
        0% {color: #5C73F2 }
        50% {color: #F2C335}
        75% { color: #36BF4A   }
        100% {color: #5C73F2 }
        }
        
        @media only screen and (max-width: 600px) {
            .burgerMenuList{
                // p{
                //     display: none;
                // }
            }

        }